@import 'nib'
@import 'bootstrap.min.css'
@import 'animate.css'
html, body
  height 100%
  width 100%
  background linear-gradient(top, #52EDC7, #5AC8FB)
*
  box-sizing border-box

h1
  color white
  font-weight 100

