extends layout

block page
  .container-fluid
    .row
      .col-xs-12
        h1.animated.fadeInUp #{appTitle}
        h2.animated.slideInRight Run "Gulp" from the command line to start a live reload server.
        hr
    .row
      .col-xs-12.col-sm-6
        h2.text-center Libraries
        hr
        ul
          li Bootstrap for responsiveness
          li Animate.css for animations
          li jQuery, Underscore and Backbone, for powerful & structured JS tooling
      .col-xs-12.col-sm-6
        h2.text-center Build Tools
        hr
        ul
          li Gulp for speedy compilation, concatenation, and live reloading
          li CoffeeScript for productivity
          li Jade for hassle free HTML markup
          li Stylus and Nib for cross broswer css loveliness
      .col-xs-12
        h3.text-center
          a(href="http://devular.com") Devular.


block extraScripts
  script.
    new App