extends layout

block page
  .container-fluid
    .row
      .col-xs-12.animated.fadeInDownBig
        h1.text-center #{appTitle}
        h2.text-center Run "Gulp" from the command line to start a live reload server.
        hr
    .row
      .col-xs-12.col-sm-6
        h2.text-center Libraries
        hr
        ul
          li Bootstrap.css
          li Animate.css
          li jQuery
          li Underscore.js
          li Backbone.js
      .col-xs-12.col-sm-6
        h2.text-center Build Tools
        hr
        ul
          li Gulp.js - Live reloading and speedy concatenation and compilation
          li CoffeeScript for productivity
          li Jade for hassle free HTML markup
          li Stylus and Nib for cross broswer css loveliness
          li Grunt for rock solid minification and deployment
    .row
      .col-xs-12
        h4.text-center: a(href="http://github.com/jonsherrard/quickapp") Github Repository.
    .row
      .col-xs-12
        h4.text-center Built with an underlying feeling of contempt.
        h4.text-center
          a(href="http://devular.com") Devular.


block extraScripts
  script.
    new App